.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 15px;
}

#btnSearch{
    border: 2px solid #ef6129;
    border-radius: 10px;
    background-color: #ef6129;
}
